<div class="container" style="margin-top:50px;" *ngIf="myCourse">
    <div class="row">
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img [src]="myCourse.image" />
                </div>
                <div class="card-action" ><i class="fa fa-heart">{{myCourse.category.icon}}</i></div>
                <div class="card-heading">
                    {{myCourse.name}}
                </div>
                <div class="card-text">
                   start at {{myCourse.dateOfStart}}
                </div>
                <div class="card-text">
                   {{myCourse.countOfLessons}} lessons
                </div>
                <div class="card-text">
                   <li *ngFor="let s of myCourse.syllabus">{{s}}</li>
                 </div>
                <a (click)="onClick()" class="card-button" *ngIf="isLect"> Edit</a>
            </div>
        </div>
    </div>  
