
<div class="login-container">
	<mat-card>
	 <mat-card-header>
	   <mat-card-title>התחברות</mat-card-title>
	 </mat-card-header>
	 <mat-card-content>
	   <mat-form-field appearance="fill">
		 <input matInput [(ngModel)]="name" placeholder="שם משתמש">
	   </mat-form-field>
	   <mat-form-field appearance="fill">
		 <input matInput type="password" [(ngModel)]="password" placeholder="סיסמא">
	   </mat-form-field>
	   <mat-form-field appearance="fill" *ngIf="lect">
		   <input matInput [(ngModel)]="course" placeholder="שם קורס">
		 </mat-form-field>
	 </mat-card-content>
	 <mat-card-actions>
	   <button mat-raised-button color="primary" (click)="login()">התחבר</button>
	 </mat-card-actions>
	 <mat-card-content>
	   <p>{{ error }}</p>
	 </mat-card-content>
	 <mat-card-content>
	   <button mat-raised-button color="primary" (click)="isLect()">{{buttonluct}}</button>
   </mat-card-content>
   </mat-card>
 </div> 






 <!-- <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
   <link rel="stylesheet" href="css/style.css">

   </head> -->
   <!-- <body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
   <section class="ftco-section">
	   <div class="container">
		   <div class="row justify-content-center">
			   <div class="col-md-6 col-lg-4">
				   <div class="login-wrap p-0">
				 <h3 class="mb-4 text-center">Have an account?</h3>
				 <form action="#" class="signin-form">
					 <div class="form-group">
						 <input type="text" class="form-control"  [(ngModel)]="name" placeholder="Username" required>
					 </div>
			   <div class="form-group">
				 <input id="password-field" type="password" class="form-control"  [(ngModel)]="password" placeholder="Password" required>
				 <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
			   </div>
			 <div class="form-group" *ngIf="lect">
				 <input id="password-field" type="password" class="form-control"   [(ngModel)]="course" placeholder="Course" required>
				 <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
			   </div>
			   <div class="form-group">
				   <button (click)="login()" class="form-control btn btn-primary submit px-3">Sign In</button>
			   </div>
			 </form>
			 <p class="w-100 text-center" (click)="isLect()">&mdash; I am a lecturer &mdash;</p>
			 </div>
			   </div>
		   </div>
	   </div>
   </section>

   <script src="js/jquery.min.js"></script>
 <script src="js/popper.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/main.js"></script>

   </body>

-->
